In [1]:
import pandas as pd
# read gzipped file
df = pd.read_csv('listings.csv.gz', compression='gzip')
# print the first few rows
df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2384,https://www.airbnb.com/rooms/2384,20230319041143,2023-03-19,city scrape,Hyde Park - Walk to UChicago,You are invited to be the sole Airbnb guest in...,The apartment is less than one block from beau...,https://a0.muscache.com/pictures/acf6b3c0-47f2...,2613,...,4.99,4.96,4.93,R17000015609,f,1,0,1,0,2.13
1,1772920,https://www.airbnb.com/rooms/1772920,20230319041143,2023-03-19,city scrape,3 Bedroom Across from Wrigley Field AllStar Suite,"Welcome to The Inn at Wrigleyville, where you ...","Besides being steps from the ""Friendly Confine...",https://a0.muscache.com/pictures/28490752/b4cc...,9297431,...,4.75,4.92,4.58,2446868,t,6,6,0,0,0.11
2,1773021,https://www.airbnb.com/rooms/1773021,20230319041143,2023-03-19,city scrape,4 Bedroom Across from Wrigley Field Stadium Suite,"Welcome to The Inn at Wrigleyville, where you ...","Besides being steps from the ""Friendly Confine...",https://a0.muscache.com/pictures/28491077/6edb...,9297431,...,4.88,5.00,4.85,2446868,t,6,6,0,0,1.11
3,1773025,https://www.airbnb.com/rooms/1773025,20230319041143,2023-03-19,city scrape,4 Bedroom Across from Wrigley Field Legend Suite,"Welcome to The Inn at Wrigleyville, where you ...","Besides being steps from the ""Friendly Confine...",https://a0.muscache.com/pictures/28489088/cb9d...,9297431,...,4.90,5.00,4.76,2446867,t,6,6,0,0,0.90
4,1810118,https://www.airbnb.com/rooms/1810118,20230319041143,2023-03-19,city scrape,LARGE Private 1BR/Full Bath near U of Chicago,LARGE Bedroom (22'x12' / 24.5m²) w/ private-ac...,Wake up and stop by the Robust Coffee shop for...,https://a0.muscache.com/pictures/miso/Hosting-...,9483312,...,4.96,4.48,4.88,R17000015592,f,2,1,1,0,3.21

In [2]:
length_of_df = len(df)

length_of_df

7747

In [8]:
df_dropped = df.drop(columns=[ "name", "host_id", "host_name", "number_of_reviews_ltm", "number_of_reviews_l30d", "maximum_nights",
                              "minimum_minimum_nights", "maximum_minimum_nights", "host_listings_count",
                              "room_type", "last_review", "first_review", "host_picture_url",
                              "host_since", "listing_url", "scrape_id", "last_scraped", "source",
                              "description", "neighborhood_overview", "picture_url",
                              "host_url", "host_location", "host_about", "host_response_time",
                              "host_response_rate", "host_acceptance_rate", "host_thumbnail_url",
                              "host_verifications", "host_has_profile_pic", "host_identity_verified",
                              "neighbourhood", "neighbourhood_cleansed", "neighbourhood_group_cleansed",
                              "license", "instant_bookable", "calculated_host_listings_count",
                              "calculated_host_listings_count_entire_homes",
                              "calculated_host_listings_count_private_rooms",
                              "calculated_host_listings_count_shared_rooms", "minimum_maximum_nights",
                              "maximum_maximum_nights", "minimum_nights_avg_ntm", "maximum_nights_avg_ntm",
                              "calendar_updated", "has_availability", "availability_30", "availability_60",
                              "availability_90", "availability_365", "calendar_last_scraped", "bathrooms"])

In [9]:
pd.set_option('display.max_columns', None)
df_dropped.head()

,id,host_is_superhost,host_neighbourhood,host_total_listings_count,latitude,longitude,property_type,accommodates,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,2384,t,Hyde Park,1,41.78790,-87.58780,Private room in condo,1,1 shared bath,1.0,1.0,"[""Dedicated workspace"", ""Host greets you"", ""Ba...",$90.00,3,212,4.99,4.98,4.99,4.99,4.99,4.96,4.93,2.13
1,1772920,t,Lakeview,6,41.94842,-87.65307,Entire rental unit,7,2 baths,3.0,5.0,"[""Oven"", ""Baking sheet"", ""Host greets you"", ""F...",$379.00,1,13,4.67,4.67,4.75,4.42,4.75,4.92,4.58,0.11
2,1773021,t,Lakeview,6,41.94774,-87.65421,Entire rental unit,9,2 baths,4.0,5.0,"[""Laundromat nearby"", ""Oven"", ""Baking sheet"", ...",$479.00,1,26,4.92,4.92,4.92,4.96,4.88,5.00,4.85,1.11
3,1773025,t,Lakeview,6,41.94750,-87.65420,Entire rental unit,9,2 baths,4.0,5.0,"[""Oven"", ""Baking sheet"", ""Host greets you"", ""F...",$479.00,1,21,4.86,5.00,4.81,4.95,4.90,5.00,4.76,0.90
4,1810118,t,Woodlawn,2,41.77738,-87.60041,Private room in home,3,1 private bath,1.0,1.0,"[""Self check-in"", ""Dedicated workspace"", ""Chil...",$79.00,4,355,4.89,4.93,4.93,4.96,4.96,4.48,4.88,3.21

In [10]:
df_dropped.dtypes

id                               int64
host_is_superhost               object
host_neighbourhood              object
host_total_listings_count        int64
latitude                       float64
longitude                      float64
property_type                   object
accommodates                     int64
bathrooms_text                  object
bedrooms                       float64
beds                           float64
amenities                       object
price                           object
minimum_nights                   int64
number_of_reviews                int64
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
reviews_per_month              float64
dtype: object

In [12]:
cols = ["id", "host_is_superhost", "host_neighbourhood", "host_total_listings_count",
        "latitude", "longitude", "property_type", "accommodates",
        "bathrooms_text", "bedrooms", "beds", "amenities", "price",
        "minimum_nights", "number_of_reviews", "review_scores_rating",
        "review_scores_accuracy", "review_scores_cleanliness", "review_scores_checkin",
        "review_scores_communication", "review_scores_location", "review_scores_value", "reviews_per_month"]

nan_cols = df_dropped[cols].isna().any()
nan_cols

id                             False
host_is_superhost               True
host_neighbourhood              True
host_total_listings_count      False
latitude                       False
longitude                      False
property_type                  False
accommodates                   False
bathrooms_text                  True
bedrooms                        True
beds                            True
amenities                      False
price                          False
minimum_nights                 False
number_of_reviews              False
review_scores_rating            True
review_scores_accuracy          True
review_scores_cleanliness       True
review_scores_checkin           True
review_scores_communication     True
review_scores_location          True
review_scores_value             True
reviews_per_month               True
dtype: bool

In [13]:
na_counts = df_dropped.isna().sum()
na_counts

id                                0
host_is_superhost                 1
host_neighbourhood              323
host_total_listings_count         0
latitude                          0
longitude                         0
property_type                     0
accommodates                      0
bathrooms_text                   14
bedrooms                        583
beds                             66
amenities                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
review_scores_rating           1493
review_scores_accuracy         1507
review_scores_cleanliness      1507
review_scores_checkin          1507
review_scores_communication    1508
review_scores_location         1507
review_scores_value            1507
reviews_per_month              1493
dtype: int64

In [16]:
df_dropped.dropna(inplace=True)

In [18]:
length_of_df = len(df_dropped)

length_of_df

5493