In [1]:
import pandas as pd

#read in CSV
df = pd.read_csv('listings.csv')
# print the first few rows
df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2384,https://www.airbnb.com/rooms/2384,20230319041143,2023-03-19,city scrape,Hyde Park - Walk to UChicago,You are invited to be the sole Airbnb guest in...,The apartment is less than one block from beau...,https://a0.muscache.com/pictures/acf6b3c0-47f2...,2613,...,4.99,4.96,4.93,R17000015609,f,1,0,1,0,2.13
1,1772920,https://www.airbnb.com/rooms/1772920,20230319041143,2023-03-19,city scrape,3 Bedroom Across from Wrigley Field AllStar Suite,"Welcome to The Inn at Wrigleyville, where you ...","Besides being steps from the ""Friendly Confine...",https://a0.muscache.com/pictures/28490752/b4cc...,9297431,...,4.75,4.92,4.58,2446868,t,6,6,0,0,0.11
2,1773021,https://www.airbnb.com/rooms/1773021,20230319041143,2023-03-19,city scrape,4 Bedroom Across from Wrigley Field Stadium Suite,"Welcome to The Inn at Wrigleyville, where you ...","Besides being steps from the ""Friendly Confine...",https://a0.muscache.com/pictures/28491077/6edb...,9297431,...,4.88,5.00,4.85,2446868,t,6,6,0,0,1.11
3,1773025,https://www.airbnb.com/rooms/1773025,20230319041143,2023-03-19,city scrape,4 Bedroom Across from Wrigley Field Legend Suite,"Welcome to The Inn at Wrigleyville, where you ...","Besides being steps from the ""Friendly Confine...",https://a0.muscache.com/pictures/28489088/cb9d...,9297431,...,4.90,5.00,4.76,2446867,t,6,6,0,0,0.90
4,1810118,https://www.airbnb.com/rooms/1810118,20230319041143,2023-03-19,city scrape,LARGE Private 1BR/Full Bath near U of Chicago,LARGE Bedroom (22'x12' / 24.5m²) w/ private-ac...,Wake up and stop by the Robust Coffee shop for...,https://a0.muscache.com/pictures/miso/Hosting-...,9483312,...,4.96,4.48,4.88,R17000015592,f,2,1,1,0,3.21

In [2]:
#check length of dataframe

len(df)

7747

In [3]:
# check to make sure all entries are in Chicago

df["neighbourhood"].value_counts()

Chicago, Illinois, United States              5421
Oak Park, Illinois, United States               10
Chicago , Illinois, United States                4
Chicago, United States                           2
Norridge, Illinois, United States                2
Harwood Heights, Illinois, United States         2
Chicago Heights, Illinois, United States         1
Bucktown, Chicago, Illinois, United States       1
Oak Lawn, Illinois, United States                1
Rogers Park, Il, United States                   1
Santa Barbara, California, United States         1
Chicago, Il, United States                       1
芝加哥, Illinois, United States                     1
Evergreen Park, Illinois, United States          1
Name: neighbourhood, dtype: int64

In [4]:
#drop rows of locations not within Chicago limits

undesired_values = ['Oak Park, Illinois, United States',
                    'Norridge, Illinois, United States',
                    'Harwood Heights, Illinois, United States',
                    'Chicago Heights, Illinois, United States',
                    'Oak Lawn, Illinois, United States',
                    'Santa Barbara, California, United States']

df = df[~df['neighbourhood'].isin(undesired_values)]

In [5]:
#recheck values
df["neighbourhood"].value_counts()

Chicago, Illinois, United States              5421
Chicago , Illinois, United States                4
Chicago, United States                           2
Bucktown, Chicago, Illinois, United States       1
Rogers Park, Il, United States                   1
Chicago, Il, United States                       1
芝加哥, Illinois, United States                     1
Evergreen Park, Illinois, United States          1
Name: neighbourhood, dtype: int64

In [6]:
#drop columns not needed for model

df_dropped = df.drop(columns=[ "id", "name", "host_id", "host_name", "number_of_reviews_ltm",
                              "number_of_reviews_l30d", "maximum_nights", "host_total_listings_count",
                              "minimum_minimum_nights", "maximum_minimum_nights", "host_listings_count",
                              "room_type", "last_review", "first_review", "host_picture_url",
                              "host_since", "listing_url", "scrape_id", "last_scraped", "source",
                              "description", "neighborhood_overview", "picture_url",
                              "host_url", "host_location", "host_about", "host_response_time",
                              "host_response_rate", "host_acceptance_rate", "host_thumbnail_url",
                              "host_verifications", "host_has_profile_pic", "host_identity_verified",
                              "neighbourhood", "neighbourhood_cleansed", "neighbourhood_group_cleansed",
                              "license", "instant_bookable", "calculated_host_listings_count",
                              "calculated_host_listings_count_entire_homes",
                              "calculated_host_listings_count_private_rooms",
                              "calculated_host_listings_count_shared_rooms", "minimum_maximum_nights",
                              "maximum_maximum_nights", "minimum_nights_avg_ntm", "maximum_nights_avg_ntm",
                              "calendar_updated", "has_availability", "availability_30", "availability_60",
                              "availability_90", "availability_365", "calendar_last_scraped", "bathrooms",
                            "amenities", "host_neighbourhood"])

In [7]:
pd.set_option('display.max_columns', None)
df_dropped.head()

,host_is_superhost,latitude,longitude,property_type,accommodates,bathrooms_text,bedrooms,beds,price,minimum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,t,41.78790,-87.58780,Private room in condo,1,1 shared bath,1.0,1.0,$90.00,3,212,4.99,4.98,4.99,4.99,4.99,4.96,4.93,2.13
1,t,41.94842,-87.65307,Entire rental unit,7,2 baths,3.0,5.0,$379.00,1,13,4.67,4.67,4.75,4.42,4.75,4.92,4.58,0.11
2,t,41.94774,-87.65421,Entire rental unit,9,2 baths,4.0,5.0,$479.00,1,26,4.92,4.92,4.92,4.96,4.88,5.00,4.85,1.11
3,t,41.94750,-87.65420,Entire rental unit,9,2 baths,4.0,5.0,$479.00,1,21,4.86,5.00,4.81,4.95,4.90,5.00,4.76,0.90
4,t,41.77738,-87.60041,Private room in home,3,1 private bath,1.0,1.0,$79.00,4,355,4.89,4.93,4.93,4.96,4.96,4.48,4.88,3.21

In [8]:
#check for data types
df_dropped.dtypes

host_is_superhost               object
latitude                       float64
longitude                      float64
property_type                   object
accommodates                     int64
bathrooms_text                  object
bedrooms                       float64
beds                           float64
price                           object
minimum_nights                   int64
number_of_reviews                int64
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
reviews_per_month              float64
dtype: object

In [9]:
#convert price column from object to int

df_dropped["price"] = df_dropped["price"].str.replace("$", "").str.replace(",", "").astype(float)

C:\Users\genev\anaconda3\envs\Pythondata\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
# check that conversion worked
df_dropped.dtypes

host_is_superhost               object
latitude                       float64
longitude                      float64
property_type                   object
accommodates                     int64
bathrooms_text                  object
bedrooms                       float64
beds                           float64
price                          float64
minimum_nights                   int64
number_of_reviews                int64
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
reviews_per_month              float64
dtype: object

In [11]:
#check for NaN values

na_counts = df_dropped.isna().sum()
na_counts

host_is_superhost                 1
latitude                          0
longitude                         0
property_type                     0
accommodates                      0
bathrooms_text                   14
bedrooms                        582
beds                             66
price                             0
minimum_nights                    0
number_of_reviews                 0
review_scores_rating           1492
review_scores_accuracy         1506
review_scores_cleanliness      1506
review_scores_checkin          1506
review_scores_communication    1507
review_scores_location         1506
review_scores_value            1506
reviews_per_month              1492
dtype: int64

In [12]:
#drop all NaNs as the numbers most the NaN values are consistent across all review categories 

df_dropped.dropna(inplace=True)

In [13]:
#check length of data frame

length_of_df = len(df_dropped)

length_of_df

5743

In [14]:
#look at variables in the property_type column

unique_values = df_dropped['property_type'].unique()
unique_values

array(['Private room in condo', 'Entire rental unit',
       'Private room in home', 'Entire condo',
       'Private room in townhouse', 'Private room in hostel',
       'Shared room in hostel', 'Private room in rental unit',
       'Entire home', 'Entire serviced apartment', 'Entire guest suite',
       'Private room in guest suite', 'Shared room in rental unit',
       'Entire loft', 'Private room in loft', 'Entire guesthouse',
       'Room in boutique hotel', 'Entire townhouse', 'Room in aparthotel',
       'Entire bungalow', 'Private room in bungalow',
       'Room in serviced apartment', 'Private room in farm stay',
       'Private room in bed and breakfast', 'Private room in cottage',
       'Shared room in home', 'Room in hostel',
       'Private room in tiny home', 'Private room in guesthouse',
       'Private room', 'Shared room in condo', 'Tiny home',
       'Entire villa', 'Room in hotel',
       'Private room in serviced apartment',
       'Private room in casa particular', 'Entire vacation home',
       'Casa particular', 'Entire home/apt', 'Private room in minsu'],
      dtype=object)

In [15]:
#get a count for each type

df_dropped['property_type'].value_counts()

Entire rental unit                    2700
Entire condo                           738
Private room in rental unit            500
Entire home                            443
Private room in home                   397
Private room in condo                  148
Entire guest suite                     148
Entire townhouse                       101
Entire serviced apartment               95
Room in boutique hotel                  72
Entire loft                             64
Private room in townhouse               53
Entire guesthouse                       37
Shared room in home                     32
Private room in loft                    28
Private room in bed and breakfast       25
Private room in bungalow                25
Room in hotel                           24
Shared room in rental unit              23
Private room in guest suite             21
Entire vacation home                    15
Entire bungalow                          9
Private room in guesthouse               8
Room in hostel                           5
Shared room in hostel                    3
Private room                             3
Private room in serviced apartment       3
Private room in cottage                  3
Tiny home                                3
Private room in hostel                   3
Room in aparthotel                       2
Shared room in condo                     2
Entire villa                             2
Private room in farm stay                2
Private room in tiny home                1
Private room in casa particular          1
Room in serviced apartment               1
Casa particular                          1
Entire home/apt                          1
Private room in minsu                    1
Name: property_type, dtype: int64

In [16]:
# replace the values in "property_type" column to streamline

df_dropped['property_type'] = df_dropped['property_type'].replace({
    'Private room in home': 'Private room in rental unit',
    'Private room in condo': 'Private room in rental unit',
    'Private room in townhouse': 'Private room in rental unit',
    'Private room in loft': 'Private room in rental unit',
    'Private room in bed and breakfast': 'Private room in rental unit',
    'Private room in bungalow': 'Private room in rental unit',
    'Private room in guest suite': 'Private room in rental unit',
    'Private room in guesthouse': 'Private room in rental unit',
    'Private room in serviced apartment': 'Private room in rental unit',
    'Private room in hostel': 'Private room in rental unit',
    'Private room in cottage': 'Private room in rental unit',
    'Private room in casa particular': 'Private room in rental unit',
    'Private room in farm stay': 'Private room in rental unit',
    'Private room in villa': 'Private room in rental unit',
    'Private room in tiny home': 'Private room in rental unit',
    'Private room in minsu': 'Private room in rental unit',
    'Private room': 'Private room in rental unit',
    'Entire home/apt': 'Entire home',
    'Entire vacation home': 'Entire home',
    'Entire villa': 'Entire home',
    'Entire bungalow': 'Entire home',
    'Casa particular': 'Entire home',
    'Shared room in condo': 'Shared room in rental unit',
    'Room in aparthotel': 'Room in hotel'
})

In [17]:
#check to ensure all were combined properly

df_dropped['property_type'].value_counts()

Entire rental unit             2700
Private room in rental unit    1222
Entire condo                    738
Entire home                     471
Entire guest suite              148
Entire townhouse                101
Entire serviced apartment        95
Room in boutique hotel           72
Entire loft                      64
Entire guesthouse                37
Shared room in home              32
Room in hotel                    26
Shared room in rental unit       25
Room in hostel                    5
Shared room in hostel             3
Tiny home                         3
Room in serviced apartment        1
Name: property_type, dtype: int64

In [18]:
#check bathroom types

df_dropped['bathrooms_text'].unique()

array(['1 shared bath', '2 baths', '1 private bath', '1 bath',
       '1.5 shared baths', '11 shared baths', '1.5 baths', '2.5 baths',
       '3 baths', '2 shared baths', '0 shared baths', '3.5 baths',
       '2.5 shared baths', '3 shared baths', '4 baths',
       'Shared half-bath', '4.5 baths', '0 baths', '5 baths',
       'Private half-bath', '11.5 shared baths', '4 shared baths',
       '6.5 baths', '7 baths', '5.5 baths', '6 baths', 'Half-bath',
       '9.5 baths', '7.5 baths'], dtype=object)

In [19]:
#get count of bathroom types

df_dropped['bathrooms_text'].value_counts()

1 bath               2802
2 baths              1020
1 shared bath         599
1 private bath        325
2 shared baths        178
1.5 baths             176
2.5 baths             156
3 baths               136
1.5 shared baths      105
3.5 baths              82
4 baths                47
3 shared baths         27
2.5 shared baths       22
4.5 baths              14
4 shared baths         14
6 baths                 9
5 baths                 7
11 shared baths         4
7 baths                 4
5.5 baths               3
0 shared baths          2
6.5 baths               2
7.5 baths               2
0 baths                 2
Private half-bath       1
Shared half-bath        1
Half-bath               1
9.5 baths               1
11.5 shared baths       1
Name: bathrooms_text, dtype: int64